
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  html, body {
    height: 100%;
}
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .pracowniknav {
    background-color: rgb(59, 55, 55);
    overflow: hidden;
  }
  .pracownikna {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
  }
  .pracowniknav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .pracowniknav a.kolor {
    background-color: rgb(22, 61, 236);
    color: white;
    float: right;
  }

  .container {
    height: 40px;
    width: 90%;
 }
  .article {
     width: 100%;
     background-color: #d7d7d7;
  }
 .col-1 {
    float: left;
    width: 10%;
    height: 80%;
 }
 .col-2 {
    float: left;
    width: 80%;
    background-color: gray;
    height: 700px;
 }
.dodajp{
  position: absolute;
  top: 0;
  right: 0;
}
.formdod{
  left: 0;
  top: 30%;
  text-align: center;
  font-size: 36px;

}
.formdodp{
  left: 0;
  top: 30%;
  text-align: center;
  font-size: 20px;

}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;

}

.img-rounded {
  border-radius: 15px;
}
.col-xs-3 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 22%;
}

.glyphicon-pencil:before {
  content: "\270f";
}

.btn-p1 {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;}
 
  .btn_p2 {
      color: #fff;
      background-color: #f0ad4e;
      border-color: #eea236;}

      table {
        width: 100%;
      }
      
      th {
        height: 50px;
      }


      /* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}